<!DOCTYPE html>
<html>
    <head>
        <title>App Enquete - Detalhes do comentário</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h2>Detalhes do comentário</h2>
        <strong>
            {{ comentario.nome_do_autor }} -
            {{ comentario.data_de_insercao }}
        </strong>
        </br>
        {{ comentario.texto }}
        </br>
        <hr>
        <p>(<a href="{% url 'main:detalhes' comentario.id %}">voltar para a pergunta {{ pergunta.id }}</a>)</p>
        <p>(<a href="{% url 'main:index' %}">voltar para a lista de perguntas</a>)</p>
    </body>
</html>