{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>App enquete</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
</head>
<body>
	{% if pergunta_list %}
		<h2>Lista de últimas enquetes</h2>
		<ul>
			{% for pergunta in pergunta_list %}
				<li><a href="{% url 'main:detalhes' pergunta.id %}">
				    {{ pergunta.texto_pergunta }}
				</a>(<a href="{% url 'main:resultado' pergunta.id %}">Ver parcial</a>)</li>
			{% endfor %}
		</ul>
	{% else %}
		<h3>Não há enquetes cadastradas até o momento!</h3>
	{% endif %}
</body>
</html>