<!DOCTYPE html>
<html>
    <head>
        <title>App Enquete - Detalhes</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h2>Detalhes da enquete {{ pergunta.id }}</h2>
        <u>Pergunta</u>: {{ pergunta.texto_pergunta }}<br/>
        <u>Data de publicação</u>: {{ pergunta.data_de_publicacao}}
        {% if error_message %}
            <hr/>
            <strong>{{ error_message }}</strong>
            <hr/>
        {% endif %}
        <form action="{% url 'main:votacao' pergunta.id %}" method="post">
            {% csrf_token %}
            <ul>
                {% for opcao in pergunta.opcao_set.all %}
                    <li><input type="radio" name="opcao"
                        id="opcao{{ forloop.counter }}" value="{{ opcao.id }}">
                        <label for="opcao{{ forloop.counter }}">
                            {{ opcao.texto_opcao }}
                        </label>
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" value="Registre o seu voto">
        </form>
        </br>
        <h2>Comentários...</h2>
                {% if not pergunta.comentarios.all %}
                    <p>Nenhum comentário adicionado...</p>
                {% else %}
                    {% for comentario in pergunta.comentarios.all %}
                        </br>
                        <a href="{% url 'main:comentario' pergunta.id %}">{{ comentario.texto }}</a>
                        </br>
                        <hr>
                    {% endfor %}
                {% endif %}
    </body>
</html>