<!DOCTYPE html>
<html>
    <head>
        <title> App Enquete - resultados </title>
    </head>
    <body>
        <h2>Resultado parcial da enquente {{pergunta.id}}</h2>
        <u>Pergunta</u>: {{ pergunta.texto_pergunta }}<br/>
        <u>Data de publicação</u>: {{ pergunta.data_de_publicacao}}
            <ul>
                {% for opcao in pergunta.opcao_set.all %}
                    <li> {{ opcao.texto_opcao }} = {{opcao.votos}} voto{{ opcao.votos | pluralize }}</li>
                {% endfor %}
            </ul>
        <hr/>
        <a href="{% url 'main:detalhes' pergunta.id %}" > Deseja votar novamente?</a>
    </body>
</html>